<h1>RELACIONES DE MATRIXCULADOS</h1>
<table border="1">
    <tr>
        <th>Alumno</th>
        <th>Email</th>
        <th>R. completados</th>
        <th>R. Pendientes</th>
    </tr>
    {% for matricula in matriculas %} 
    <tr>
        <td>{{matricula.alumno.nombre}}</td>
        <td>{{matricula.alumno.email}}</td>
        <td>{{matricula.matricula.completados}}</td>
        <td>{{matricula.matricula.pendientes}}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'matricula:index' %}">Volver a pagina principal</a>